<div class="">
    <a href="https://jtfeng.com" 
       target="_blank" rel="noopener noreferrer" 
       class="fw-normal d-flex align-items-center ms-md-auto" 
       style="max-width: max-content; text-transform: none;">
        <div class="">
            <p class="">
                &nbsp;&nbsp;&nbsp;
                JT FENG | WEB DEV
            </p>
            <small class="">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Made with Canadian ❤
            </small>
        </div>
        <img src="{{ '/assets/img/logo-jtfeng.png' | relative_url }}" 
             alt="Website built by JT Feng" 
             width="48" height="48" 
             class="ms-1" />
    </a>
</div>
