<a href="https://jtfeng.com" 
   target="_blank" rel="noopener noreferrer" 
   class="fw-normal d-flex align-items-center ms-md-auto" 
   style="max-width: max-content; text-transform: none">
    <div>
        <p>
            &nbsp;&nbsp;&nbsp;
            JT FENG | WEB DEV
        </p>
        <small>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Made with Canadian ❤
        </small>
    </div>
    <img src="{{ '/assets/img/logo-jtfeng.png' | relative_url }}" 
         alt="Website built by J.T. Feng" 
         width="48" height="48" 
         class="ms-1" />
</a>
