<div class="">
    <p class="" 
       style="max-width: 256px;">
        © {{ site.title }}. All rights reserved.
    </p>
    <small class="d-block" 
           style="max-width: 256px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ '/disclaimer' | relative_url }}" 
           class="fw-normal text-capitalize">
            Disclaimer
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ '/privacy' | relative_url }}" 
           class="fw-normal text-capitalize">
            Privacy
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ '/terms' | relative_url }}" 
           class="fw-normal text-capitalize">
            Terms
        </a>
    </small>
</div>
