<nav id="nav-top" 
     class="">
    <div class="container pt-5 pb-7">
        <div class="row gy-5">
            <div class="col-4 col-sm-2">
                <div class="border d-flex flex-column align-items-start"
                     style="max-width: 280px;">
                    <a href="{{ '/' | relative_url }}">
                        <img src="{{ '/assets/img/logo-jtfeng.png' | relative_url }}"
                             alt=""
                             width="84"
                             height="84"
                             class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-1">
                <div class="border d-flex flex-column align-items-start"
                     style="max-width: 280px;">
                    <a href="{{ '/' | relative_url }}">
                        Home
                    </a>
                    <a href="{{ '/styleguide/' | relative_url }}">
                        Styleguide
                    </a>
                    <a href="{{ '/404' | relative_url }}">
                        Page Not Found
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-1">
                <div class="border d-flex flex-column align-items-start align-items-sm-end"
                     style="max-width: 280px;">
                    <a href="#footer">Contact</a>
                </div>
            </div>
        </div>
    </div>
</nav>
